.container
  %h1 クーポン情報を変更してください
  = form_with(url: admin_card_list_coupon_list_path(current_admin.id, @coupon_list.card_list.id, @coupon_list.id), method: :patch, local: true, class: "admin-card-coupon__form") do |form|
    .admin-card__form__coupon
      = form.label :description, "クーポン内容"
      = form.text_field :description, value: "#{@coupon_list.description}", required: true
      <br>
      = form.label :exipiration, "有効期限"
      = form.date_field :expiration, value: "#{@coupon_list.expiration}", required: true
    = form.submit "クーポン内容を変更する"