.container
  .coupon_list-contents
    %h2 追加するクーポン情報を入力してください
    = form_with(url: admin_card_list_coupon_lists_path, local: true, class: "admin-card__form") do |form|
      .admin-card__form__coupon
        .admin-card__form__coupon__input
          = form.label :description, "内容", class: "label"
          = form.text_field :description, required: true, class: "form-input description"
        .admin-card__form__coupon__input
          = form.label :expiration, "有効期限", class: "label"
          = form.date_field :expiration, required: true, class: "form-input expiration"
      .admin-card__form__submit
        = form.submit "クーポンを追加する",  class: "form-submit btn btn-primary"