.container
  - if admin_signed_in? && current_admin.id == @card.admin_id
    .card-edit
      .card-info
        = @card.user.name
        = @card.admin.name
        = form_with(url: user_card_path(@card.user_id, @card.id), local: true, method: :patch, class: "point-form") do |form|
          .point-form__form-group
            = form.label :point, "ポイント"
            = form.text_field :point, class: "point", placeholder: "#{@card.point}", autocomplete: "off", type: "number", min: "0", required: true
          .point-form__form-group
            = form.label :benefit_used_date, "特典"
            - if @card.benefits.present?
              - @card.benefits.each do |benefit|
                .point-form__form-group__benefit
                  = benefit.benefit_list.description
                  = benefit.used_date
                  = form.hidden_field :benefit_id, :value => benefit.id
              = form.date_field :benefit_used_date, class: "benefit_used_date"
          .point-form__form-group
            = form.label :coupon_used_date, "クーポン"
            - if @card.coupons.present?
              - @card.coupons.each do |coupon|
                .point-form__form-group__coupon
                  = coupon.coupon_list.description
                  = coupon.coupon_list.expiration
                  = coupon.used_date
                  = form.hidden_field :coupon_id, :value => coupon.id
              = form.date_field :coupon_used_date, class: "coupon_used_date"
          = form.hidden_field :user_id, :value => @card.user_id
          = form.hidden_field :admin_id, :value => @card.admin_id
          = form.hidden_field :relation_id, :value => @card.relation_id
          .form-btn
            = form.submit "変更", class: "btn btn-primary"
  - else
    .card-edit__alert
      %h1 カードの管理者のみ編集可能です
      = link_to "戻る",