.container
  - if admin_signed_in? && (current_admin.id == @card.admin_id)
    .card-edit-contents
      .edit-content
        %h2 カード情報を変更してください
        %h3.edit-content__user カード所有者 #{@card.user.name}
        = form_with(url: user_card_path(@card.user_id, @card.id), local: true, method: :patch, class: "card-edit__form") do |form|
          .card-edit__form__point
            = form.label :point, "ポイント", class: "label"
            = form.text_field :point, class: "form-input point", placeholder: "#{@card.point}", autocomplete: "off", type: "number", min: "0", required: true
          .card-edit__form__benefit
            - if @card.benefits.present?
              %h3 ポイント特典
              - @card.benefits.each_with_index do |benefit, index|
                .card-edit__form__benefit__info
                  %p #{index+1}.
                  .card-edit__form__benefit__info__description
                    = benefit.benefit_list.description
                  .card-edit__form__benefit__info__date
                    使用日: #{benefit.used_date}
              .card-edit__form__benefit__use
                = form.label :benefit_id, "使用する特典番号を入力してください", class: "label"
                = form.text_field :benefit_id, class: "card-edit__form__benefit__use__input", autocomple: "off", type: "number", min: "1", max: "#{@card.benefits.length}"
          .card-edit__form__coupon
            - if @card.coupons.present?
              %h3 クーポン
              - @card.coupons.each_with_index do |coupon, index|
                .card-edit__form__coupon__info
                  .card-edit__form__coupon__info__upper
                    %p #{index+1}.
                    .card-edit__form__coupon__info__upper__description
                      = coupon.coupon_list.description
                    .card-edit__form__coupon__info__upper__expiration
                      有効期限: #{coupon.coupon_list.expiration}
                  .card-edit__form__coupon__info__lower
                    .card-edit__form__coupon__info__date
                      使用日: #{coupon.used_date}
              .card-edit__form__coupon__use
                = form.label :coupon_id, "使用するクーポン番号を入力してください", class: "label"
                = form.text_field :coupon_id, class: "card-edit__form__coupon__use__input", autocomple: "off", type: "number", min: "1", max: "#{@card.coupons.length}"
          = form.hidden_field :user_id, :value => @card.user_id
          = form.hidden_field :admin_id, :value => @card.admin_id
          = form.hidden_field :relation_id, :value => @card.relation_id
          .card-edit__form__submit
            = form.submit "カード情報を変更", class: "form-submit btn btn-primary"
            = link_to 'カードを削除する', user_card_path(@card.id), method: :delete, class: "card__delete btn btn-danger"
  - else
    .card-edit__alert
      %h2 カードの管理者のみ編集可能です