.container
  .index-contents.row
    - @cards.each do |card|
      - if user_signed_in? && current_user.id == card.user_id
        .content-card.col-lg-5
          = link_to user_card_path(current_user.id, card.id), class: "content-card__image" do
            = image_tag "#{card.relation.image}"
          %ul.content-card__info
            %li.content-card__info__name= card.relation.name
            %li.content-card__info__point 現在のポイント: #{card.point}
          = link_to '削除', user_card_path(current_user.id, card.id), method: :delete, class: "content-card__delete btn btn-danger"
