<div class="account-page" id="account-page">
  <div class="clearfix inner">
    <div class="left header">
      <h2>User Create Account</h2>
      <h5>新規アカウントの作成</h5>
      <%= render "users/shared/links.html.erb" %>
    </div>
    <div class="right user-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :name, class: "label" %><br />
          <%= f.text_field :name, class: "input", autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :email, class: "label" %><br />
          <%= f.email_field :email, class: "input", autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, class: "label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "input", autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "label" %><br />
          <%= f.password_field :password_confirmation, class: "input", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Create Account", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>